
section.body {
  overflow: hidden;
  .body-title {
    width: $bodyWrapperWidth;
    margin: 20px auto 0;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    color: $cGray7;
  }
  .wrapper {
    width: $bodyWrapperWidth;
    overflow: hidden;
    margin: 0 auto;
    .view-frame-left, .view-frame-right {
      float: left;
      width: 50%;
      margin: 0 auto;
      padding: 15px;
    }
    .view-content {
      overflow: auto;
      padding: 15px;
      border-radius: 2px;
      background-color: white;
      box-shadow: $dropShadow;
    }
  }
}

footer.total {
  margin: 0 -15px -15px;
  padding: 15px;
  border-top: 1px solid $cGrayEC;
}

