
$relListWidth: 50%;

section.body .wrapper .view-frame-left {
  width: $relListWidth;
}

section.body .wrapper .view-frame-right {
  width: 100% - $relListWidth;
}

li.relationship {
  height: 80px;
  padding: 10px 15px;
  margin: 0 -15px;
  &:hover {
    background-color: $cHover;
    cursor: pointer;
  }
  &.active {
    background-color: $cGrayA;
  }
  &:first-child {
    height: 85px;
    margin-top: -15px;
    padding-top: 15px;
  }
  &:last-child {
    height: 85px;
  }
  .avatar {
    float: left;
    img {
      width: 60px;
      margin-right: 10px;
    }
  }
  .info {
    float: left;
    position: relative;
    width: calc(100% - 70px);
    height: 60px;
    .name {
      font-size: 24px;
    }
    .bottom {
      position: absolute;
      bottom: 0;
      .company, .title {
        color: $cGrayA;
      }
    }
  }
}

.org-indiv {
  padding: 10px 30px;
}

.rel-types {
  margin: 0 auto;
  overflow: hidden;
  .rel-type-col {
    float: left;
    padding: 0 35px;  // This will be different on small devices
    label.checkbox {
      padding: 0;
    }
  }
}

.buttons {
  padding: 10px 15px;
}
