
$relListWidth: 50%;

section.body .wrapper .view-frame-left {
  width: $relListWidth;
}

section.body .wrapper .view-frame-right {
  width: 100% - $relListWidth;
}

li.relationship {
  height: 80px;
  padding: 10px 15px;
  margin: 0 -15px;
  &:hover {
    background-color: $cHover;
    cursor: pointer;
  }
  &.active {
    background-color: $cGrayEC;
  }
  &:first-child {
    height: 85px;
    margin-top: -15px;
    padding-top: 15px;
    border-top: 1px solid $cGrayEC;
  }
  &:last-child {
    height: 85px;
  }
}

.avatar {
  float: left;
  img {
    width: 60px;
    margin-right: 10px;
    border-radius: 4px;
  }
}
.info {
  float: left;
  position: relative;
  height: 60px;
  .name {
    font-size: 24px;
  }
  .details {
    position: absolute;
    bottom: 0;
    .company, .title {
      color: $cGrayA;
    }
  }
}

header.list {
  height: 45px;
  overflow: hidden;
  margin-bottom: 15px;
  i {
    float: right;
    margin-left: 20px;
    line-height: 35px;
    color: $cGray7;
    font-size: 24px;
    cursor: pointer;
    &:hover {
      color: $cGray3;
    }
  }
}

form.relationship header {
  margin: 0 -15px 10px;
  padding: 0 15px;
  border-bottom: 1px solid $cGrayEC;
  color: $cGray7;
  &.new {
    height: 45px;
    font-size: 24px;
    padding-bottom: 10px;
  }
  &.existing {
    height: 100px;
    .avatar img {
      width: 85px;
    }
  }
}

.org-indiv {
  padding: 10px 30px;
}

.rel-types {
  margin: 10px auto 30px;
  overflow: hidden;
  .rel-type-col {
    float: left;
    padding: 0 35px;  // This will be different on small devices
    label.checkbox {
      padding: 0;
    }
  }
}

.buttons {
  margin: 10px 15px;
}
