
.signup {
  width: 700px;
  overflow: hidden;
  margin: 40px auto 20px;
  .image-gallery {
    float: left;
    width: 330px;
    div {
      float: left;
    }
  }
  .signup-form {
    float: left;
    margin-left: 60px;
    .tagline1 {
      margin-bottom: 2px;
    }
    .tagline2 {
      margin-bottom: 25px;
    }
    form {
      margin-bottom: 10px;
      input {
        width: 300px;
        margin-bottom: 10px;
      }
    }
    .error-msg {
      margin-bottom: 3px;
    }
  }
}

