
<h1 class="body-title">Relationships</h1>
<div class="wrapper">

  <div class="view-frame-left">
    <div class="view-content">

      <header class="list">
        <i ng-click="resetForm()" class="fa fa-fw fa-plus" tooltip="Create a new relationship"></i>
        <i class="fa fa-fw fa-cloud-download" tooltip="Import existing relationships (TODO)"></i>
      </header>

      <ul>
        <li ng-repeat="rel in relationships" ng-click="select(rel, $index)" ng-class="{active: $index === selectedIndex}" class="relationship">

          <div class="avatar">
            <img ng-src="{{ rel.logo || rel.gravatarURL }}">
          </div>

          <div class="info">
            <div class="name">{{ rel.name }}</div>
            <div class="details">
              <div class="company">{{ rel.company }}</div>
              <div class="title">{{ rel.title }}</div>
            </div>
          </div>

        </li>
      </ul>

      <footer class="total">
        Total relationships: {{ relationships.length }}
      </footer>

    </div>
  </div>


  <div class="view-frame-right">
    <div ng-cloak="ng-cloak" class="view-content">

      <form ng-submit="submit(r)" class="relationship">

        <header ng-show="new" class="new">
          Create New Relationship
        </header>

        <header ng-hide="new" class="existing">
          <div class="avatar">
            <img ng-src="{{ r.logo || r.gravatarURL }}">
          </div>

          <div class="info">
            <div class="name">{{ r.name }}</div>
            <div class="details">
              <div class="updateAvatar"><a href="#">Change photo</a></div>
            </div>
          </div>
        </header>

        <div class="row top-toggle">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
              <label ng-click="orgClicked(true)" ng-class="{'active': r.isOrg}" class="btn btn-primary">
                <input type="radio"> Organization
              </label>
              <label ng-click="orgClicked(false)" ng-class="{'active': !r.isOrg}" class="btn btn-primary">
                <input type="radio"> Individual
              </label>
            </div>
        </div>

        <div class="rel-types">
          <div class="rel-type-col">
            <div class="radio">
              <label class="checkbox">
                <checkbox ng-model="r.isCustomer"></checkbox>
                &nbsp;&nbsp;Customer
              </label>
            </div>
            <div class="radio">
              <label class="checkbox">
                <checkbox ng-model="r.isVendor"></checkbox>
                &nbsp;&nbsp;Vendor
              </label>
            </div>
            <div class="radio">
              <label class="checkbox">
                <checkbox ng-model="r.isEmployee" ng-disabled="r.isOrg"></checkbox>
                &nbsp;&nbsp;Employee
              </label>
            </div>
          </div>

          <div class="rel-type-col">
            <div class="radio">
              <label class="checkbox">
                <checkbox ng-model="r.isInvestor"></checkbox>
                &nbsp;&nbsp;Owner/Investor
              </label>
            </div>
            <div class="radio">
              <label class="checkbox">
                <checkbox ng-model="r.isBank" ng-disabled="!r.isOrg"></checkbox>
                &nbsp;&nbsp;Bank
              </label>
            </div>
            <div class="radio">
              <label class="checkbox">
                <checkbox ng-model="r.isGovt" ng-disabled="!r.isOrg"></checkbox>
                &nbsp;&nbsp;Taxing Authority
              </label>
            </div>
          </div>
        </div>

        <div ng-show="r.isOrg" class="form-group">
          <label for="entity-name" class="col-xs-3 control-label">Name*</label>
          <div class="col-xs-9">
            <input ng-model="r.bizName" type="text" class="form-control" placeholder="Business/organization name" autofocus>
          </div>
          <div class="error-text">
            <p class="col-xs-9 col-xs-offset-3 help-block"></p>
          </div>
        </div>

        <div ng-show="r.isOrg" class="form-group">
          <label for="nickname" class="col-xs-3 control-label">Nickame</label>
          <div class="col-xs-9">
            <input ng-model="r.nickname" type="text" class="form-control">
          </div>
          <div class="error-text">
            <p class="col-xs-9 col-xs-offset-3 help-block"></p>
          </div>
        </div>

        <div ng-hide="r.isOrg" class="form-group">
          <div class="col-xs-3">
            <select ng-model="r.salutation" class="form-control">
              <option value=""></option>
              <option value="mr">Mr.</option>
              <option value="mrs">Mrs.</option>
              <option value="miss">Ms.</option>
              <option value="dr">Dr.</option>
            </select>
          </div>
          <div class="col-xs-4">
            <input ng-model="r.fname" type="text" class="form-control" placeholder="First name*">
          </div>
          <div class="col-xs-5">
            <input ng-model="r.lname" type="text" class="form-control" placeholder="Last name*">
          </div>
          <div class="error-text">
            <p class="col-xs-12 help-block"></p>
          </div>
        </div>

        <div class="col-xs-12 bottom-toggle">
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label ng-click="toggleAddr(true)" class="btn btn-default">
              <input type="radio"> Address
            </label>
            <label ng-click="toggleAddr(false)" class="btn btn-default">
              <input type="radio"> Contact Info
            </label>
          </div>
        </div>


        <div ng-show="isAddr" class="address">
          <div class="form-group">
            <div class="col-xs-12">
              <textarea class="form-control" rows=2 maxlength=200 placeholder="Address"></textarea>
            </div>
            <div class="error-text">
              <p class="col-xs-12 help-block"></p>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-9">
              <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="col-xs-3">
              <select class="form-control">
                <option value="init">State</option>
              </select>
            </div>
            <div class="error-text">
              <p class="col-xs-12 help-block"></p>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-offset-7 col-xs-5">
              <input type="text" class="form-control" placeholder="Zip code">
            </div>
            <div class="error-text">
              <p class="col-xs-12 help-block"></p>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-3"><small>Add website</small></div>
          </div>
        </div>






        <div ng-show="isContact">

          <div ng-show="r.isOrg">
            <div class="row">
              <div class="form-group">
                <div class="col-xs-5"><i class="fa fa-fw fa-plus add-contact"></i>Add contact</div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-3">
                <select ng-model="r.salutation1" class="form-control">
                  <option value=""></option>
                  <option value="mr">Mr.</option>
                  <option value="mrs">Mrs.</option>
                  <option value="miss">Ms.</option>
                  <option value="dr">Dr.</option>
                </select>
              </div>
              <div class="col-xs-4">
                <input ng-model="r.fname1" type="text" class="form-control" placeholder="First name*">
              </div>
              <div class="col-xs-5">
                <input ng-model="r.lname1" type="text" class="form-control" placeholder="Last name*">
              </div>
              <div class="error-text">
                <p class="col-xs-12 help-block"></p>
              </div>
            </div>
          </div>



          <div class="form-group">
            <div class="col-xs-12">
              <input ng-model="r.title1" type="text" class="form-control" placeholder="Job title or functional area">
            </div>
            <div class="error-text">
              <p class="col-xs-12 help-block"></p>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <input ng-model="r.email1" type="text" class="form-control" placeholder="Email">
            </div>
            <div class="error-text">
              <p class="col-xs-12 help-block"></p>
            </div>
          </div>

          <div class="col-xs-4">
            <select ng-model="r.phone_prefix1_1" class="form-control">
              <option value="main">Main</option>
              <option value="direct" selected>Direct</option>
              <option value="mobile">Mobile</option>
              <option value="fax">Fax</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="col-xs-5">
            <input ng-model="r.phone_no1_1" type="text" class="form-control">
          </div>
          <div class="col-xs-3">
            <input ng-model="r.phone_ext1_1" type="text" class="form-control" placeholder="ext.">
          </div>
          <div class="error-text">
            <p class="col-xs-12 help-block"></p>
          </div>

          <div class="col-xs-4">
            <select ng-model="r.phone_prefix1_2" class="form-control">
              <option value="main">Main</option>
              <option value="direct" selected>Direct</option>
              <option value="mobile">Mobile</option>
              <option value="fax">Fax</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="col-xs-5">
            <input ng-model="r.phone_no1_2" type="text" class="form-control">
          </div>
          <div class="col-xs-3">
            <input ng-model="r.phone_ext1_2" type="text" class="form-control" placeholder="ext.">
          </div>
          <div class="error-text">
            <p class="col-xs-12 help-block"></p>
          </div>

          <div class="col-xs-4">
            <select ng-model="r.phone_prefix1_3" class="form-control">
              <option value="main">Main</option>
              <option value="direct" selected>Direct</option>
              <option value="mobile">Mobile</option>
              <option value="fax">Fax</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="col-xs-5">
            <input ng-model="r.phone_no1_3" type="text" class="form-control">
          </div>
          <div class="col-xs-3">
            <input ng-model="r.phone_ext1_3" type="text" class="form-control" placeholder="ext.">
          </div>
          <div class="error-text">
            <p class="col-xs-12 help-block"></p>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <textarea ng-model="r.notes_1" class="form-control notes" rows=2 maxlength=500 placeholder="Notes"></textarea>
            </div>
            <div class="error-text">
              <p class="col-xs-12 help-block"></p>
            </div>
          </div>
        </div>


        <div class="buttons">
          <div class="btn-group">
            <button ng-click="delete(r)" ng-hide="new" type="button" class="btn btn-danger">Delete</button>
          </div>
          <div class="btn-group pull-right">
            <input type="submit" class="btn btn-primary" value="{{ submitButtonText() }}">
          </div>
        </div>

      </form>

    </div>
  </div>

</div>


