<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>CRM</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>

    <header class="topbar">

      <i class="fa fa-bars"></i>

      <div ng-controller="NavCtrl">
        <form ng-hide="signedIn" ng-submit="signIn(user)" class="anonymous">
          <input ng-model="user.username" type="text" class="form-control" placeholder="Email or username">
          <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
          <input type="submit" class="btn btn-primary" value="Sign in">
        </form>

        <div ng-show="signedIn">
          <i class="fa fa-user"></i>
          <nav class="user">
            <ul class="user-menu">
              <li>Profile</li>
              <li>Settings</li>
              <li ng-click="signOut()">Sign out</li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="title">
        <div>Setup</div>
      </div>

    </header>

    <div class="header-spacer"></div>


    <nav class="sidebar">

      <ul class="menus">
        <li class="menu1"><i class="fa fa-calculator"></i></li>
        <li class="menu2"><i class="fa fa-book"></i></li>
        <li class="menu3"><i class="fa fa-gear"></i></li>
      </ul>

      <div>
        <div class="menu-title menu1">Transactions</div>
        <ul class="menu">
          <li>Enter Bill</li>
          <li>Pay Bills</li>
          <li>One-step Payment</li>
          <li>Import Time Entries</li>
          <li>Create Invoice</li>
          <li>Receive Payment</li>
          <li>Make Deposit</li>
        </ul>
      </div>

      <div style="display: none">
        <div class="menu-title menu2">Reports</div>
        <ul class="menu">
          <li>Report1</li>
          <li>Report2</li>
          <li>Report3</li>
          <li>Report4</li>
          <li>Report5</li>
          <li>Report6</li>
          <li>Report7</li>
          <li>Report8</li>
      </div>

      <div style="display: none">
        <div class="menu-title menu3">Reports</div>
        <ul class="menu">
          <li>Chart of Accounts</li>
          <li>Relationships</li>
          <li>Company Settings</li>
      </div>

    </nav>


    <!-- <div class="page-wrapper" ng-view> -->

    <section ng-view class="body">Loading...</section>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/ui.tooltip/ui-bootstrap-custom-0.12.1.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/layout/nav.js"></script>
    <script src="scripts/users/users.js"></script>
    <script src="scripts/users/users.factory.js"></script>
    <script src="scripts/relationships/relationships.js"></script>
    <script src="scripts/relationships/relationships.factory.js"></script>
    <!-- endbuild -->
</body>
</html>
